@model LibApp.ViewModels.RandomBooksViewModel

@{
    ViewBag.Title = "Random book";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // var book = ViewBag.Book as Book;
    //var book = ViewData["FirstBook"] as Book; // casting is required here
}

@*Use for direct object passing from controller return type f.e. return View(firstBook)*@
@*<h2>@Model.Title</h2>*@

@*Use for ViewBag or ViewData*@
@*<h2>@book.Title</h2>*@


@{
    var className = Model.Customers.Count == 5 ? "popular" : null;
}
@*Use for direct ViewModel object passing from controller return type f.e. return View(randomBooksViewModel)*@
<h2 class="@className">@Model.Book.Title</h2>

<ul>
    @if (Model.Customers.Count == 0)
    {
        <p>No one has rented this book yet</p>
    }
    else
    foreach (var customer in Model.Customers)
    {
        <li>@customer.Name</li>
    }
</ul>