@model IEnumerable<LibApp.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* jQuery tutorial - https://www.impressivewebs.com/jquery-tutorial-for-beginners/*@

<h2>Customers</h2>
<a class="btn btn-primary" asp-action="CustomerForm">New Customer</a>

@if (!Model.Any())
{
    <p>There are no customers yet.</p>
}
else
{
    <table class="table table-hover" id="customers">
        <thead>
            <tr>
                <th colspan="1">Customer</th>
                <th colspan="2">Membership type</th>
                <th>Delete customer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td><a asp-action="Edit" asp-route-id="@customer.Id">@Html.DisplayFor(modelItem => customer.Name)</a></td>
                    <td>@customer.MembershipType.Name</td>
                    <td><a asp-action="Details" asp-route-id="@customer.Id">Details</a></td>
                    <td><button class="btn btn-secondary js-delete" data-customer-id="@customer.Id">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#customers").on("click", ".js-delete" function () {
                var button = $(this);
                bootbox.confirm({
                    message: 'Delete customer?',
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> Cancel'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> Confirm'
                        }
                    },
                    callback: function (result) {
                        if (result)
                        {
                            console.log("ID: " + button.attr("data-customer-id"));
                            $.ajax({
                                url: "/api/customers/" + button.attr("data-customer-id"),
                                method: "DELETE",
                                success: function () {
                                    button.parents("tr").remove();
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}